/* global.scss */

/* 最外面路由页面 */
.data-export-page,
.setup-page {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 123px;
  flex: 1 0 0;
  align-self: stretch; 
  background-color: #fff;
  position: relative;
  z-index: 3;
}

/* batch main */
.batch-main {
  width: 517px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* form */
.batch-main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  position: relative;

  // form item 每一行
  .batch-main-item {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    gap: 20px;
    // label 盒子
    .label-box {
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0px 10px 15px;
    }

    .batch-main-item-label {
      color: #888;
      display: flex;
      height: 100%;
      flex-direction: column;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      white-space: nowrap;
    }
    // 右边内容盒子
    .batch-main-item-right {
      display: flex;
      width: 372px;
      height: 38px;
      padding: 10px 20px 10px 15px;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 3px;

      img {
        cursor: pointer;
      }

      .current-toilet {
        overflow-x: hidden;
        white-space: nowrap;
      }
    }
  }
}

/* form text */
.form-normal-text {
  color: #333;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.form-normal-text-slate {
  
  color: #CCC;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* setup device status */
.status-new {
  color: #ccc;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.status-exported {
  color: #008000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.status-no-exported {
  color: #f00;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* button */
.batch-main-button {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 23px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

/* running status */
.batch-main-running {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 23px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .batch-main-running-label {
    width: 218px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
